.Card {
  background-color: red;
  border: 3px solid red;
  border-radius: 10px;
  overflow: hidden;
}

.Card .Title {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.Card .Content{
  background-color: #fff;
  color: #000;
  padding: 20px;
}